body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to top, #621010, #f3d7d5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el fondo degradado cubra toda la altura */
  }
  
  .profile-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin-top: 20px; /* Espacio desde la barra de navegación */
    margin-bottom: 20px;
  }
  
  .edit-form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 0.9em;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group input[type="date"],
  .form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-group button {
    background-color: #d40d0db8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s ease;
  }
  
  .form-group button:hover {
    background-color: #6e1212;
  }
  
  .password-section {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .image-section {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  
  .success-message {
    color: green;
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  
.navbar {
  background-color: #2a2020;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: fixed; /* Barra fija en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 30px;
}

.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  padding: 4px;
  border-radius: 5px;
}

.navbar ul li a:hover {
  background-color: #53121286;
}