
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top , #621010, #f3d7d5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color:  rgb(222, 220, 220);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="file"],
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #621010;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #989898;
  }
  
  input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: rgb(185, 185, 185);
  }

  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.error-input {
    border: 1px solid red;
}
  